body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Navbar styles */
.button-container {
    display: flex;
    margin: 10px;
}

.dropdown {
    margin-right: 200px;
}

/* Button styles */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
}

.col-md-6 {
    width: 100%; /* Asegurarnos de que el ancho de la columna sea del 100% */
}

.button-container {
    display: flex;
    flex-direction: column; /* Alinear los botones verticalmente */
}

.button-container button {
    width: 100%; /* Los botones ocuparán todo el ancho disponible de su contenedor */
    margin-bottom: 10px; /* Añadir un margen inferior para separar los botones */
}




/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-container {
    background-color: rgba(61, 136, 171, 0.25);
    border: solid 1px rgba(61, 136, 171, 0.25);
}


